{% extends "base.html" %}
{% load static %}
{% block content %}
<form action="#" method="post"> {% csrf_token %}
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        {% if user.is_authenticated %}
        <div class="form-group">
          <input type="text" readonly class="form-control" id="userID" value="{{ user.username }}">
        </div>
          {% else %}
          <p>You are not logged in</p>
          <a href="{% url 'login' %}">login</a>
          {% endif %}
        <div class="form-group">
            <input type="text" class="form-control" id="customerID"  placeholder="Nama Customer">
          </div>
        <div class="form-group">
            <input type="text" class="form-control" id="mejaID"  placeholder="Nomor Meja">
          </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5>Add Menu:</h5>
      </div>
      <div class="card-body">
        {% for product in products %}
          <a href="#" onclick="addItem({{ product.id }}, '{{ product.name }}', {{ product.price }})" class="btn btn-outline-secondary">
            {{ product.name }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Total Pesanan</h4>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <td><strong>Item</strong></td>
                        <td class="text-right"><strong>Harga</strong></td>
                      </tr>
                    </thead>
                    <tbody id="summary-table-body">
                      <tr id="total-tr">
                        <td class="thick-line text-right"><strong>Total: </strong></td>
                        <td class="thick-line text-right"><strong>Rp0 </strong></td></tr>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-group special" role="group">
          {% csrf_token %}
          <button type="button" class="btn btn-success" onclick="postOrder('{% url 'order' %}')">Simpan</button>
          <button type="button" class="btn" onclick="clearAllItems()">Hapus</button>
          <button type="button" class="btn btn-danger" onclick="location.href='{% url 'pesanan' %}'">batal</button>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
