{% extends 'base.html' %}
{% load static %}
{% block content %}
<table class="table">
  <thead>
  <tr> 
    <th scope="col">name</th>
    <th scope="col">harga</th> 
    <th scope="col">stok</th>  
  </tr>  
  </thead>  
  <tbody>  
  {% for Product in Products %}  
  <tr>  
    <td>{{ Product.name }}</td>
    <td>{{ Product.price }}</td>
    <td>{{ Product.stok }}</td>
    <td>  
        <a href="pedit/{{ Product.id }}">[E]</a>  
        <a href="pdelete/{{ Product.id }}">[D]</a>  
    </td>  
  </tr>  
  {% endfor %}  
  </tbody>  
  </table>
  <a href="{% url 'pooder' %}" class="btn btn-primary">Add Menu</a>
{% endblock %}