{% extends 'base.html' %} 
{% block content %} 
{% load staticfiles %}
  <div class="content", style="overflow-x:auto;">
  <table id="poser">  
      <h4>List Pesanan</h4>
  <tr> 
    <th>no</th> 
    <th>tanggal</th>  
    <th>op</th>  
    <th>cust</th> 
    <th>meja</th>
    <th>status</th>
    <th>harga</th>
  </tr>    
  <tbody>  
  {% for Order in orders %}  
  <tr>  
    <td>{{ Order.nomor }}</td>
    <td>{{ Order.timestamp }}</td>
    <td>{{ Order.operator }}</td>
    <td>{{ Order.customer }}</td>
    <td>{{ Order.meja }}</td>
    <td>{{ Order.status }}</td>
    <td>{{ Order.total_price }}</td>
    <td>  
        <a href="edit/{{ Order.id }}">[E]</a>  
        <a href="delete/{{ Order.id }}">[D]</a>  
    </td>  
  </tr>  
  {% endfor %}  
  </tbody>  
  </table>
  </div>  
  {% endblock %}
