{% extends 'base.html' %} 
{% block content %} 
{% load staticfiles %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">no</th> 
      <th scope="col">tanggal</th>  
      <th scope="col">op</th>  
      <th scope="col">cust</th> 
      <th scope="col">meja</th>
      <th scope="col">status</th>
      <th scope="col">Total</th>
    </tr>  
  </thead>  
  <tbody>  
  {% for Order in orders %}  
  <tr>  
    <th scope="row">{{ Order.nomor }}</th>
    <td>{{ Order.timestamp }}</td>
    <td>{{ Order.operator }}</td>
    <td>{{ Order.customer }}</td>
    <td>{{ Order.meja }}</td>
    <td>{{ Order.status }}</td>
    <td>{{ Order.total_price }}</td>
    <td>  
        <a href="edit/{{ Order.id }}">[E]</a>  
        <a href="delete/{{ Order.id }}">[D]</a>  
    </td>  
  </tr>  
  {% endfor %}  
  </tbody>  
  </table>
  {% endblock %}
